<html>
  <head>
      <title>Weather</title>
        <link rel="icon" href="/images/logo.png">
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>

    <div class="main-content">
     {{>header}}
    <br>
    <img class="portrait" src="images/download.jpeg" />
    <br>
    
    </div>
 
{{>footer}}
  </body>
</html>