<html>
  <head>
      <title>Weather</title>
      <link rel="icon" href="/images/logo.png">
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="main-content">
{{>header}}
    </div>
        
  
    <br>
    {{>footer}}
  </body>
</html>