<html>
  <head>
   
      <title>404</title>
        <link href="css/style.css" rel="stylesheet" />
           <link rel="icon" href="/images/logo.png">
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="main-content">
       {{>header}}
      <p>
          {{errormessage}}
      </p>
    </div>
     
      {{>footer}}
  </body>
</html>